<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static%}
    <link rel="stylesheet" href="{% static 'quotes_app/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="title-block">
            <h1>Welcome {{request.session.user}}</h1>
            <a class="return" href="http://localhost:8000">Log Out</a>
            <a class="" href="edit/{{request.session.user_id}}">Edit My Account</a>
            <hr class="my-4">
        </div>
        <div class="all-books">
            <h1>Quotes</h1>
            {% for q in allqoutes%}
            <div class="qoute-box">
                <h4>{{q.author}} :</h4>
                <p>"{{q.description}}"</p>
                <h6>Posted by <a href="user_quotes/{{request.session.user_id}}">{{q.uploaded_by.first_name}} {{q.uploaded_by.last_name}}</a></h6>
                    
                
                <h6> {{q.user_who_like.all.count}} people like this</h6>
                    <a class="left btn btn-primary" href="/favorite/{{q.id}}">Like</a>
                {%if q.uploaded_by.id == request.session.user_id %}
                    <form class="userbuttons" action="/quotes/{{q.id}}/destroy" method="POST">
                        {%csrf_token%}
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                {%else%}
                
                {%endif%}
            </div>
            {%endfor%}
        </div>
        <div class="addABook">
            <h1>Add a Quote</h1>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/quotes/ad" method='POST'>
                {% csrf_token%}
                <div class="form-group">
                    <label>Author:</label>
                    <input type="text" class="form-control col-9" name="title">
                </div>
                <div class="form-group">
                    <label>Quote:</label>
                    <textarea name="description" class="form-control" cols="30" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
